.*
!.gitignore
slurm*
*.sbatch

results/*

!results/codoncounts
results/codoncounts/*
!results/codoncounts/*codoncounts.csv

!results/prefs
results/prefs/*
!results/prefs/*prefs.csv

!results/muteffects
results/muteffects/*
!results/muteffects/*muteffects.csv

!results/phylogenetics
results/phylogenetics/*
!results/prefs/phydms_modelcomparison.md

!results/logoplots
results/logoplots/*
!results/logoplots/*.pdf
